In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [4]:
df = pd.read_csv('Billionaire.csv',engine='python')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676 entries, 0 to 2675
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      2676 non-null   object
 1   NetWorth  2676 non-null   object
 2   Country   2676 non-null   object
 3   Source    2676 non-null   object
 4   Rank      2676 non-null   int64
 5   Age       2676 non-null   int64
 6   Industry  2676 non-null   object
dtypes: int64(2), object(5)
memory usage: 146.5+ KB

In [6]:
df.head(10)

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,$177 B,United States,Amazon,1,57,Technology
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,49,Automotive
2,Bernard Arnault & family,$150 B,France,LVMH,3,72,Fashion & Retail
3,Bill Gates,$124 B,United States,Microsoft,4,65,Technology
4,Mark Zuckerberg,$97 B,United States,Facebook,5,36,Technology
5,Warren Buffett,$96 B,United States,Berkshire Hathaway,6,90,Finance & Investments
6,Larry Ellison,$93 B,United States,software,7,76,Technology
7,Larry Page,$91.5 B,United States,Google,8,48,Technology
8,Sergey Brin,$89 B,United States,Google,9,47,Technology
9,Mukesh Ambani,$84.5 B,India,diversified,10,63,Diversified

In [7]:
df.describe()

              Rank          Age
count  2676.000000  2676.000000
mean   1343.791106    63.113602
std     773.724884    13.445153
min       1.000000    18.000000
25%     680.000000    54.000000
50%    1362.000000    63.000000
75%    2035.000000    73.000000
max    2674.000000    99.000000

In [8]:
df.columns

Index(['Name', 'NetWorth', 'Country', 'Source', 'Rank', 'Age', 'Industry'], dtype='object')

In [9]:
df.tail() # Check the bottom 5 rows

,Name,NetWorth,Country,Source,Rank,Age,Industry
2671,Daniel Yong Zhang,$1 B,China,e-commerce,2674,49,Technology
2672,Zhang Yuqiang,$1 B,China,Fiberglass,2674,65,Manufacturing
2673,Zhao Meiguang,$1 B,China,gold mining,2674,58,Metals & Mining
2674,Zhong Naixiong,$1 B,China,conglomerate,2674,58,Diversified
2675,Zhou Wei family,$1 B,China,Software,2674,54,Technology

# Missing Data
Some columns have missing values. For our analysis, we only want to keep rows with complete data.
Note that "NaN" stands for "Not a Number" and means the data is missing.

In [10]:
# This will give us a list of the columns that contain NaN 
# NaN stands for "Not a Number", or that there is no value in there (it's missing)
# Note: edit your file to get rid of the null entries until the code returns False for all columns
pd.isnull(df.head(100)).sum() > 0

Name        False
NetWorth    False
Country     False
Source      False
Rank        False
Age         False
Industry    False
dtype: bool